<h3>All Schedules</h3>
<table class="table">
    <thread>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Day of the week</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
        </tr>
    </thread>
{{#each schedules as |schedule|}}
    <tbody>
        <tr>
            <td>{{schedule.id}}</td>
            <td>{{schedule.username}}</td>
            <td>{{day schedule.day_of_the_week}}</td>
            <td>{{schedule.start_time}}</td>
            <td>{{schedule.end_time}}</td>
        </tr>
    </tbody>
{{/each}}
</table>
<div class="col text-center">
    <a href="/new" class="btn btn-light btn-sm" role="button" aria-pressed="true">Add a new schedule</a>
</div>
